/* Pre-defining some text and background colors */
:root {
    /* text color variable */
    --text-white: #ccc;
    /* background color variables */
    --background-darkgrey: #303030;
    --background-medgrey: #505050;
    --background-medligrey: #707070;
    /* box-shadow variables */
    --text-shadow-header: 0 .25em .25em #202020;
    --container-shadow: 0 .5em .5em #202020;
    --button-shadow: 0 .25em .25em #303030;
}

/* Assign generic stylings to everything */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-white);
    background-color: var(--background-darkgrey);
    margin: 1em;
}

/* re-set header properties */
h1, h2 {
    font-weight: bold;
}

/* Setup entire sorting structure for information chunks */
main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
}

/* Define secion chunk's styles */
.top-banner, article, footer, .mern-stack, .work-tile, #kevin-pic {
    background-color: var(--background-medgrey);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: var(--container-shadow);
    transition: all .25s ease-in-out;
    text-align: center;
}

/* Top navigation BUTTONS styling */
.links, .site-icon {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--background-medligrey);
    border-radius: .5em;
    padding: .5em;
    margin-left: 1em;
    box-shadow: var(--button-shadow);
}

/* top navigation, set spacing */
.top-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* align top navigation buttons */
.links-group {
    display: inline-flex;
    align-items: center;
}

/* remove link stylings */
a {
    text-decoration: none;
    color: var(--text-white);
}

/* MERN Stack container link */
.mern-stack {
    height: 450px;
    border: 2px solid var(--text-white);
    background: url("../images/previews/mern-stack.png");
    background-color: var(--background-medgrey);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* resume grid tiles container */
.my-work {
    width: 100%;
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

/* Container cell for the main worked at links */
.work-tile {
    border: 2px solid var(--text-white);
    height: 200px;
    background-color: var(--background-medgrey);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#geek-squad {
    background: url("../images/previews/geek-squad.jpg");
    background-position: center;
    background-size: cover;
}

#freelance {
    background: url("../images/previews/desk.webp");
    background-position: center;
    background-size: cover;
}

#hancock {
    background: url("../images/previews/hancock-college.jpg");
    background-position: center;
    background-size: cover;
}

#pc-enth {
    background: url("../images/previews/pc-building.jpg");
    background-position: center;
    background-size: cover;
}

/* mouseover glow */
.mern-stack:hover, #geek-squad:hover, #freelance:hover, #hancock:hover, #pc-enth:hover {
    box-shadow: 0 0 1em var(--text-white);
}
/* text above all the the job containers */
.text-box {
    background-color:#505050CC;
    padding: .5em;
    width: fit-content;
    border-radius: .5em;
}

/* website links set size */
.site-icon {
    width: 4em;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p {
    line-height: 1.5em;
}

/* maximum width for content 960px or above */
@media (min-width: 960px) {
    main {
        width: calc(960px - 1em);
    }
}

/* maximum width for content 620px or above */
@media (max-width: 620px) {
    main {
        width: 100%;
    }
    .top-banner {
        justify-content: center;
    }
    .links-group {
        padding-top: 1.5em;
        padding-bottom: .5em;
    }
}

