/* Pre-defining some text and background colors */
:root {
    /* text color variable */
    --text-white: #ccc;
    /* background color variables */
    --background-darkgrey: #303030;
    --background-medgrey: #505050;
    --background-medligrey: #707070;
    /* box-shadow variables */
    --text-shadow-header: 0 .25em .25em #202020;
    --container-shadow: 0 .5em .5em #202020;
    --button-shadow: 0 .25em .25em #303030;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-white);
    background-color: var(--background-darkgrey);
    margin: 1em;
}

h1, h2, h3, h4 {
    font-weight: bold;
    text-shadow: var(--text-shadow-header);
}

/* Setup entire sorting structure for information chunks */
main {
    display: inline-block;
    align-items: center;
}

/* Define secion chunk's styles */
.top-banner, article, .kevin-pic {
    background-color: var(--background-medgrey);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: var(--container-shadow);
    /* box-shadow: 0 1em 1em #202020; */
}

/* Top navigation BUTTONS styling */
.links {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--background-medligrey);
    border-radius: .5em;
    padding: .5em;
    margin-right: 1em;
    box-shadow: var(--button-shadow);
}

/* top navigation, set spacing */
.top-banner {
    display: flex;
    flex: 1 0 800px;
    /* width: 800px; */
    justify-content: space-between;
}

/* align top navigation buttons */
.links-group {
    display: inline-flex;
    align-items: center;
}

/* .kevin-pic {
    box-shadow: inset 0 0 1em #202020;
} */

.kevin-pic, img {
    width: 50em;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p {
    line-height: 1.5em;
}
